
/* reset */
html {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 10px;
  margin: 0;
  font-family: 'Arial', '微软雅黑';
  background: #efefef;
  color: #fff;
  font-size: 14px;
  box-sizing: border-box;
}
p, h1, h2, h3, dl {
  margin: 0;
}
ul,li {
  padding: 0;
  list-style: none;
}
address, em {
  font-style: normal;
}
th, h2, h3 {
  font-weight: normal;
}
h1 {
  font-size: 24px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2)
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* 布局 */
.wrap {
  position: relative;
  max-width: 640px;
  min-width: 420px;
  /* min-height: 100%; */
  margin: 0 auto;
  padding: 0 40px 100px;
  background-color: #ff8bac;
  border: 1px solid rgba(255, 255, 255, .85);
  box-sizing: border-box;
}
.header {
  position: relative;
  padding: 40px 0;
}
.nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  line-height: 31px;
}
.nav-item {
  display: inline-block;
  margin: 0 5px;
}
.hide {
  display: none;
}
/* 名片 */
.card {
  padding: 20px;
  color: #333;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, .85), rgba(255, 255, 255, 1)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(top, rgba(255, 255, 255, .85), rgba(255, 255, 255, 1)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, .85), rgba(255, 255, 255, 1)); /* Firefox 3.6 - 15 */
  background: linear-gradient(top, rgba(255, 255, 255, .85), rgba(255, 255, 255, 1)); /* 标准的语法 */
  border-radius: 13px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
  clear: both;
}
.card-avatar {
  width: 90px;
  height: 90px;
  margin-right: 20px;
  float: left;
  background: url('http://himg.bdimg.com/sys/portrait/item/a94278635f6c617a7974b6.jpg') no-repeat center center;
  background-size: 100% 100%;
  border-radius: 13px 13px 50%;
}
.card-info {
  line-height: 30px;
}
.card-info a {
  color: #a58bff;
}
.card-ft {
  margin: 20px 0 -10px;
  padding-top: 10px;
  font-size: 14px;
  color: #999;
  border-top: 1px solid rgba(255, 139, 172, .25);
  word-break: break-all;
}
/* 引导提示 */
.tips {
  text-align: center;
  padding-top: 30px;
}
.tips-text {
  display: inline-block;
  font-size: 14px;
  border-bottom: 1px dotted rgba(255, 255, 255, .5);
  cursor: pointer;
}
/* 信息 */
.box {
  margin-top: 20px;
}
.box-title {
  position: relative;
  padding: 10px 0 10px 14px;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  line-height: 20px;
}
.box-title:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  /* transform: translate(-50%); */
  width: 4px;
  height: 20px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 4px;
}
.box-main {
  padding: 10px 0;
}
td:first-child {
  width: 130px;
}
dt {
  padding-left: 14px;
}
dd {
  padding-left: 14px;
  -webkit-margin-start: 1em;
}
footer {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 12px;
}